/*
@base-color: #f7ffcc;
*/
/*
@accent-color: #d9ccff;
@assorted-color:;
*/
body {
  /*
    background-color: ghostwhite;
    background-color: #ffffee;
    */
  background-color: #f7ffcc;
}
div {
  align-content: center;
}
div.title {
  margin-top: 30px;
  margin-bottom: 30px;
}
div.setsumei {
  width: 68%;
  background-color: #f7ffcc;
  color: #339900;
  line-height: 100%;
}
table {
  empty-cells: show;
  margin-bottom: 30px;
  border-color: #c6cca3;
  border-width: 3px;
}
caption {
  font-size: 0.8em;
  caption-side: bottom;
}
a:link {
  color: #0066ff;
}
a:visited {
  color: #00aaff;
}
a:hover {
  color: #ff6699;
}
a:active {
  color: #008000;
}
ul {
  text-align: left;
  margin-left: 100px;
}
li {
  color: #339900;
}
