doctype html
html(lang="en")
  head
    meta(charset="utf8")
    title カトリック谷山教会について
    script(type='text/javascript').
    link(rel="stylesheet", type="text/css", href="css/profile.css")

  body
    div(class="container", align="center")
      img(src="jpg/taniyamatitle.jpg")
      p 
      |レデンプトール修道会鹿児島準管区本部教会として、1964年現在地に建設され、聖霊に捧げられました。
      |（詳しくは、下段年表をご覧下さい。
      table(border="1", cellspacing="0")
        tr
          th: 住 所
          td(colspan="5"): 〒891-0113 鹿児島市東谷山２丁目33番13号&emsp;
        tr
          th: 電 話
          td: |099-268-2084
        tr
          th: FAX 
          td: |099-284-5738
        tr
          th: |e-mail
          td: |taniyama-cc@tycc.sakura.ne.jp
        tr
          th: 主任司祭
          td(colspan="2")ヨゼフ・ムイベルガ 神父
        tr
          th: 協力司祭
          td(colspan="2")ウィルヘルム・フリッチェル 神父
        tr
          th: 修道院メンバー
          td(colspan="5")
              神父：&ensp;ムイベルガ、フリッチェル、頭島 光、有馬 信茂&emsp;&emsp;神学生：&ensp;ホン・ステファノ
        tr
          th: カテキスタ
          td(colspan="2"): Sr.下川 千穂子
        tr
          th: 信徒会長
          td(colspan="2"): 當 賢一郎

      table(border="1" cellspacing="0")
        caption: 年表的沿革
        tr
          th(width="130"): |1928年（昭和3）
          td: 現在のラ・サール学園の地にフランシスコ会（カナダ管区）が修道院並びに教会を設立し教区長館を併設。
        tr
          th: |1931年（昭和6）
          td: 小神学校及び大神学校を開設。
        tr
          th: |1933年（昭和8）
          td: 孤児収容施設（白百合寮）を開設。
        tr
          th: |1934年（昭和9）
          td: 幼稚園開設。
        tr
          th: |1935年（昭和10）
          td: 聖アンナ修道会により診療所を開設。
        tr
          th: |1937年（昭和12）
          td: 軍部の圧力により全施設を閉鎖。
        tr
          th: |1944年（昭和19）
          td: 純心高女谷山へ移転。
        tr
          th: |1949年（昭和24）
          td: 善き牧者女子修道会による愛の聖母園開設。
        tr
          th: |1950年（昭和25）
          td: ラ・サール学園開設。
        tr
          th: |1953年（昭和28）
          td: マイエル、ミタマヤ、ヤロシュの三神父来日。
        tr
          th: |1954年（昭和29）
          td: 来鹿して川内カトリック教会に着任。
        tr
          th: |1955年（昭和30）
          td: 宗教法人「カトリック贖罪主修道会」設立。
        tr
          th: |1957年（昭和32）
          td: レデンプトール会司祭、ラ・サール学園内に居住し司牧を掌る。
        tr
          th: |1964年（昭和39）
          td: 聖堂献堂式、小教区の発足。
        tr
          th: |1971年（昭和46）
          td: ひまわり幼稚園を買収し継承する。
        tr
          th: |1976年（昭和51）
          td: 新教会聖堂落成。

    div(class="copy")
    Copyright(C)聖アルフォンソ・ファミリー
    br
    text E-Mail:&ensp;
    a(href="mailto:taniyama-cc@tycc.sakura.ne.jp" class="mail") taniyama-cc@tycc.sakura.ne.jp
