doctype html
html
  head
    meta(charset="utf8")
    title ハンドベル
    link(rel="stylesheet",type="text/css", href="css/handbell.css")

  body
    div(align="center")
      img(src="jpg/HBitself.jpg", alt="ハンドベル")
      h2 リンガーズアポロン　谷山
      p
        img(class="renshuu", src="jpg/HBrenshuu.jpg", alt="練習")
        ハンドベルには、楽譜が読めなくても演奏しやすいという
        メリットがあって、年齢、男女に関係なくどなたでも演奏が出来ます。演奏する人自身がまず癒されると云います。
        そして聞いている人にも、心の安らぎと喜びを与えます。当サークルでは、小さなミュージックベルではなく、正規の楽器
        としての「イングリッシュ ハンドベル」を使用し、一つ一つの澄んだ響きを楽しみながら演奏しています。年齢層も30代から
        70代と大変幅広く、楽しい雰囲気の中で練習しています。この素晴らしいハンドベルを、ご一緒になさいませんか。
        詳しくは、安楽 晃（099-267-8104）までお気軽にお問い合わせ下さい。
      table(border="6", cellpadding="5")
        tr
          th: 平成16年12月8日　鹿児島サンエールで初舞台
          td: img(src="jpg/Apolon.jpg", alt="演奏会")

    footer(align="center")
      a(href="index.html") 聖アルフォンソ・ファミリー
