doctype html
html
  head
    meta(charset="utf-8")
    title: 谷山教会レジオ・マリエ
    link(rel="stylesheet", type="text/css", href="css/legiomariae.css")

  body
    div(align="center")
      ul(class="jobunn", style="list-style-type:none;")
        li: 聖母マリアが「み旨のままに」とお応えになり、生涯を神に委ねられた生き方そのもの、
        li: 神への信頼と従順を、 私たちは守ります。
      img(class="photo",src="jpg/LM-1.jpg",alt="レジオ・マリエ")
    div(align="center")
      table(border="0")
        tr
          th: img(src="jpg/legio.jpg")
          td: 聖霊の仲介者なる聖母プレシディウム
      table(border="1")
        tr
          th: 設立
          td: |1964年
        tr
          th: 会員
          td: |活動会員：11　賛助会員：16
        tr
          th: 指導司祭
          td: ヨゼフ・ムイベルガ神父
        tr
          th: 集会の日時
          td: 毎週木曜日、午前10時から11時半まで
        tr
          th: 集会の場所
          td: カフェテリア・リゴーリ
        tr
          th: 主な活動
          td
              ul(style="list-style-type:none;", align="left")
                li: 病気療養中の方々を家庭や施設・病院に訪問
                li: 一人暮らしのお年寄りの家庭を訪問
                li: しばらく教会でお見受けしない方々への訪問
                li: 祈りの集い、鹿児島コミチウムへの参加
        tr
          th: |2006年度目標
          td: 祈りのうちに目を向け耳を傾けよう、助けを必要とされる方々へ

    div(align="center")
      p
      |多くの皆さんのご参加を、心よりお待ちしております。
      br
      br
      |（代表者：直泰江）

    hr
  div(align="center")
    a(href="index.html") 聖アルフォンソ・ファミリー




