doctype html
html(lang="en")
  head
    meta(charset="utf8")
    title ミサの祈りと集い
    script(type='text/javascript').
    link(rel="stylesheet", type="text/css", href="css/mass.css")
    //link(rel="stylesheet", type="text/css", href="css/style.css")

  body
    div(class="container", align="center")
      img(src="jpg/misanituite.jpg")

      p(class="setumei")
      |ミサとは、カトリック教会で行ういちばん大事な祈りです。
      |ミサは感謝の祭儀とも言われ、
      |イエス・キリストの死と復活を記念し、
      |その復活の恵みにあずからせていただく、
      |よろこびに満ちた感謝の祭儀です。
      |ミサはまた「主の晩餐」「聖餐式」とも呼ばれます。
      |それはミサが、最後の晩餐に起源を持ち、キリスト者は使徒の時代から、
      |主の日である日曜日に集まり、
      |主の復活を祝う感謝の祭儀を挙行することを大切にしてきました。
      |日曜日の他にも、平日、また、結婚式、 葬儀などの大事なときにも
      |ミサを行います。ミサには信者でない方も参加できますので、
      |ご遠慮なくお出で下さい。
      |ミサの途中、洗礼を受けた信者は行列を作って「ご聖体」である
      |白いパンをいただきます。
      |信者でない方は、お望みならば、列に並んで前に進み、頭を下げ、
      |手を合わせたまま司祭の祝福をいただくことができます。
      |<em>
      | 「カトリック教会の教え」（カトリック中央協議会）
      | 「はじめて教会へいらしたあなたに」(ドン・ボスコ社）より
      |</em>

      br

      img(src="jpg/teijimisa.jpg")

      table(border="1", cellpadding="8", cellspacing="0")
        caption(align="bottom") クリスマス、聖週間、復活祭の時は別時間になります。お問い合わせください。
        thead
          tr
            th: 曜日
            th: 名称
            th: 番名
            th: 開始時間
            th: 備考
        tbody
          tr
            th: 日曜日
            td: 主日のミサ
            td(align="center"): |1番ミサ、2番ミサ
            td(align="right"): |6:30
              br
              |9:00
            td: |-
          tr
            th: 水曜日
            td: 召命のミサ
            td: |-
            td(align="right"): |19:00
            td: -
          tr
            th: 金曜日
            td: 初金のミサ
            td: |-
            td(align="right"): |19:00
            td: |第1金曜日のみ
          tr
            th: 土曜日
            td: 翌主日のミサ
            td: |-
            td(align="right"): |19:00
            td: |-

    div(align="center")
      img(src="jpg/sonotanoatumari.jpg")
      table(border="1" cellpadding="8" cellspacing="0")
        caption(align="bottom")
          レジオ・マリエについては、その
          a(href="legiomariae.html") ページを
          ご覧下さい
        thead
          tr
            th: 曜日
            th: 名称
            th(align="center"): 開始時間
            th: 備考
        tbody
          tr
            th: 火曜日
            td: ロザリオの祈り
            td(align="right"): |10:00
            td: |-
          tr
            th: 木曜日
            td: 聖体礼拝
            td(align="right"): |9:00
            td 夕方17:00まで（ゆるしの秘蹟の機会があります）
          tr
            th: 金曜日
            td: 召命のロザリオ
            td(align="right"): |20:00
            td: |-
    

      hr
      div(class="copy")
        Copyright(C)聖アルフォンソ・ファミリー
        br
        text E-Mail:&ensp;
        a(href="mailto:taniyama-cc@tycc.sakura.ne.jp" class="mail") taniyama-cc@tycc.sakura.ne.jp
