doctype html
html(lang="en")
  head
    meta(charset="utf8")
    title profile
    script(type='text/javascript').
    link(rel="stylesheet", type="text/css", href="css/profile.css")
    //link(rel="stylesheet", type="text/css", href="css/style.css")

  body
    div(class="container", align="center")
      h1 レデンプトール修道会の創立者 聖アルフォンソについて
      table
        tr
          td: img(class="photo" src="jpg/Alfonso.jpg" alt="聖アルフォンソ")
          td
            p(class="kantou")
              strong

            p(class="kantou")
              暫くして、正確にはどれ程たったかは分らないが、答えが出た。1723年8月28日、この若い弁護士は、不治の病に苦しむ人々の病院を見舞って、
              優しい慈善の働きをしていたが、突然、不思議な光に包まれている自分を見た。建物が施錠されたようにして動かず、内なる声が彼に告げた、
              「俗世界を捨てなさい、そして汝自信を我に与えよ」。これが二度繰り返された。アルフォンソは病院を出て、”罪びとの救い” という教会に行き、
              聖母像の前に剣を置いて聖職者になる決意を厳粛に表明し、更に修練者として一身をささげることをオラトリオ修道会に誓った。しかし、
              彼はさまざまな試練が、彼の前に横たわることを知っていた。彼の父は、息子のために計画した結婚が二回もうまくゆかなかったことで前々から機嫌が悪かったし、
              その上アルフォンソが今の仕事を疎かにしていることにも腹を立てていた。従って、彼が俗世間から退くことには、（父が）猛烈に反対することは十分予想されたが ‥ 
              そのとおりであった。二か月にわたって、脅迫めいたことがあり、アルフォンソはそれに耐え忍ばなければならなかった。最後にようやく父は妥協案を出して、
              アルフォンソが聖職者になることを認めたが、それは修道会に入ることは許さない、家に住まうことが条件であった。彼は、修道会の上司、トマス・パガノ神父の
              忠告を受けて、その条件を呑んだ。このようにして彼は自由を得て、彼の真の仕事である新しい宗教集団の形成に踏み出したのであった。

              （Catholic Encyclopedia より抄訳)
              //（第五章終り、つづく）Apr. 9, 2007

      div(class="copy")
          Copyright(C)聖アルフォンソ・ファミリー
          br
          text E-Mail:&ensp;
          a(href="mailto:taniyama-cc@tycc.sakura.ne.jp" class="mail") taniyama-cc@tycc.sakura.ne.jp
