doctype html
html
    head
        meta(charset="utf8")
        title= 教会学校

    body
        div(align="center")
            h1 楽しい教会学校

            table
                tr
                    td: img(class="organ", src="jpg/organ.jpg", alt="オルガンと祈り")
                    td
                        p(class="title")
                            いよいよ本年度も2学期がスタートしました。
                            br
                            元気な子供たちの声を聞きながら、
                            わたしたちスタッフ（主任司祭、ブラザー、糧きすた、主婦3人）は襟をただし、
                            br
                            天地創造の神様、三位一体の神様のことを、
                            共に学びたいという切なる想いを持って、 教会へ訪れる子供たちに手を差し伸べています
                            br
                            子供たちの数は

            table(border="4", cellpadding="8", cellspacing="2")
                thead
                    tr
                        td: |2005.12.17
                        td: クリスマス
                        td: イエス様降誕の声劇、大人顔負けの素晴らしい演技でした。
                        td: img(src="jpg/Xmas.jpg", alt="クリスマス", width="160", height="120")
                    tr
                        td: |2005.7.23
                        td: カボチャ人形
                        td: 頭の部分を、小さくて平たいカボチャで作り、銅はピンを利用して彩色しました
                        td: img(src="jpg/kabochadoll.jpg", alt="かぼちゃ人形", width="160", height="120")
                    tr
                        td: |2004.11.23
                        td: 仏寺訪問
                        td: 伊東マンショ（天正遣欧少年誌説4人の中の1人）が祀られている円南寺を訪問しました。
                        td: img(src="jpg/butujihoumon.jpg", alt="仏寺訪問", width="160", height="120")
                    tr
                        td: |2004.3.23
                        td: 春の遠足
                        td: 進級記念遠足。良い天気に恵まれた錦江湾公園で凧揚げをしました
                        td: img(src="jpg/ensoku.jpg", alt="遠足", width="160", height="120")
        div(align="center")
            a(href="index.html") 聖アルフォンソ‥ファミリー


